# ---------------------------------------------------------------------------
# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear
# ---------------------------------------------------------------------------

[Unit]
Description=crash-collect service to notify ssr and full crash dump
After=sockets.target basic.target

[Service]
Restart=on-failure
ExecStartPre=/bin/sh -c 'ip neighbor show dev mhi_swip0 | grep -q 10.10.10.7 || sleep 20'
ExecStartPre=ifconfig mhi_swip0 10.10.10.3 up
ExecStartPre=ifconfig mhi_swip0
ExecStartPre=/bin/sh -c 'ip neighbor show dev mhi_swip0 | grep -q 10.10.10.7 || ip neigh add 10.10.10.7 lladdr 70:71:aa:4b:29:77 nud permanent dev mhi_swip0'
ExecStart=/usr/sbin/crashcollect
